// Section
.section{
  padding: 70px 0px;
  color: white;

  &--border{
    border-top: 1px solid #{$gray};
  }
  &__title{
    font-size: 2.5rem;
    &.--wrap{
      @include d-flex(row, nowrap, space-between, center);
      
    }
    &.--mb{
      margin-bottom: 30px;
    }
  }
  &__nav{

    &--wrap{
      @include d-flex(row, nowrap, center, center);
      .view_all{
        margin-right: 25px;
        transition: all .4s ease;
        font-size: 14px;
        border-radius: 0.4rem;
        background-color: #{$gray};
        @include d-flex("", "", center, center);
        height: 30px;
        width: 80px;
      }
      &>*:nth-child(2){
        margin-right: 15px;
      }
    }
  }
  
  @include hover(".view_all", white, #{$orange});

}
.section--details {
  margin-top: 80px;
  padding: 50px 0;
  position: relative;
  color: white;
}

// Content
.content{
  & .content__head{
    padding-top: 70px;
  }
}
.content__head{
  margin-bottom: 30px;
  border-bottom: 2px solid #{$gray};
}

.content__title{
  color: white;
  margin-bottom: 20px;
  font-size: 2.5rem;
  @include screen("Ipad"){
    margin-bottom: 10px;
  }
}

.content__tabs{
  @include d-flex();
  display: none;
  margin: 0;
  
  font-size: 14px;
  color: white;
  @include screen("Ipad"){
    display: flex;
  }
  li{
    margin-right: 30px;
    @include hover("a", white, #{$orange});
    .tab{
      @include d-flex(row, nowrap, center, center);
      position: relative;
      height: 54px;
      &::before{
        @include pseudo();
        width: 100%;
        height: 2px;
        background-color: transparent;
        top: 100%;
      }
      &--active{
        color: #{$orange} !important;
        &::before{
          background-color: #{$orange};
        }
      }
    }
  }
}

.content__mobile{
  position: relative;
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
  @include screen("Ipad"){
    display: none;
  }
  &--btn{
    @include d-flex(row, nowrap, flex-start, center);
    cursor: pointer;
    height: 20px;
    line-height: 1;
    input{
      position: relative;
      width: auto;
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      color: #fff;
      height: 20px;
      padding: 0;
      margin-right: 5px;
    }
    span{
      position: relative;
      width: 16px;
      height: 16px;
      display: block;
      margin-top: -3px;
    }
    span:after, span:before{
      @include pseudo();
      width: 16px;
      height: 2px;
      background-color: #fff;
      border-radius: 2px;
      left: 0;
      top: 0%;
      transition: 0.4s ease;
    }
    span:before{
      width: 16px;
      top: 25%;
    }
    span:after{
      width: 10px;
      top: 75%;
    }
  }
  &--btn--active{
    span:before{
      width: 16px;
      top: 50%;
      transform: rotate(45deg);
    }
    span:after{
      width: 16px;
      top: 50%;
      transform: rotate(-45deg);
    }
  }

  &--dropdown{
    background-color: #{$gray};
    position: absolute;
    width: 200px;
    top: 100%;

    padding: 20px;
    margin-top: 10px;

    border-radius: .5rem;

    transition: all ease 0.4s;
    visibility: hidden;
    opacity: 0;
    z-index: -99999;
    &--active{
      z-index: 99999;
      visibility: visible;
      opacity: 1;
    }
  }
  &--nav{
    margin: 0;
    li:not(:last-child){
      margin-bottom: 20px;
    }
    a:not(:last-child){
      display: block;
      
    }
    @include hover("a", white, #{$orange})
  }
}

.tab--panel{
  &:not(.active){
    display: none;
  }
  &.active{
    display: block;
  }
}


.catalog{
  padding: 70px 0px;
}

.pagination{
  @include d-flex("", "", center, center);
  @include hover("a", white, #{$orange});

  &>a{
    margin: 0;
    @include d-flex("", "", center, center);
  }
  
  &__nav{
    @include d-flex(row, nowrap, center, center);
    margin: 0 10px;

    &--item{
      @include d-flex("", "", center, center);
      @extend %btn-square;
      margin: 0 10px;
      border-radius: 0.4rem;
      background-color: #{$gray};

      &.--active{
        border: 1px solid #{$orange};
      }
      &.--disable{
        pointer-events: none;
        cursor: default;
      }
    }
  }
}


.footer{  
  border-top: 1px solid #{$gray};
  &__content{
    @include d-flex(row, nowrap, "", center);
    height: 80px;
    padding: 20px 0px;
  }
  @include hover("a", white, white);
  .logo{
    font-size: 2rem;
    // line-height: 1;
  }
  &__copyright{
    margin-left: 50px;
    color: white;
    font-size: .7rem;
  }
  &__nav{
    @include d-flex(row, nowrap, center, center);
    margin-left: auto;
    margin-right: 20px;

    @include hover("a", white, #{$orange});
    a{
      margin: 0px 20px;
      transition: all .4s ease;
    }
  }
  &--btn{
    @extend %btn-clear;
    @extend %btn-square;
    @extend %border;
    background-color: #{$gray};
    color: white;
    line-height: 1;
  }
}